<ion-router-outlet id="menuContent"></ion-router-outlet>


<div class="ion-page" id="mainContent" main>
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start" style="display: block !important;">
        <ion-menu-toggle style="display: block !important;">
          <ion-button onclick="document.getElementById('mainNav').open()" style="display: block !important;">
            <ion-icon slot="icon-only" name="menu" style="display: block !important;"></ion-icon>
          </ion-button>
        </ion-menu-toggle>
      </ion-buttons>
      <!-- </ion-buttons> -->
      <ion-title>FLL MASTERPIECE Strategy Planner</ion-title>
    </ion-toolbar>
    <!-- <ion-toolbar color=""> -->
    <!-- <ion-segment scrollable>
              <ion-segment-button value="0" checked>
                  <ion-icon name="call"></ion-icon>
                  <ion-label>Call</ion-label>
              </ion-segment-button>
              <ion-segment-button value="1">
                  <ion-icon name="cloud-upload"></ion-icon>
                  <ion-label>Publish</ion-label>
              </ion-segment-button>
              <ion-segment-button value="2">
                  <ion-icon name="paper"></ion-icon>
                  <ion-label>Topic</ion-label>
              </ion-segment-button> -->
    <!-- <ion-segment-button value="3">
                  <ion-icon name="code-working"></ion-icon>
                  <ion-label>Query</ion-label>
              </ion-segment-button>
              <ion-segment-button value="4">
                  <ion-icon name="open"></ion-icon>
                  <ion-label>Open</ion-label>
              </ion-segment-button>
              <ion-segment-button value="5">
                  <ion-icon name="search"></ion-icon>
                  <ion-label>Search</ion-label>
              </ion-segment-button>
              <ion-segment-button value="6">
                  <ion-icon name="create"></ion-icon>
                  <ion-label>Write</ion-label>
              </ion-segment-button>
              <ion-segment-button value="7">
                  <ion-icon name="book"></ion-icon>
                  <ion-label>Read</ion-label>
              </ion-segment-button>
              <ion-segment-button value="8">
                  <ion-icon name="trash"></ion-icon>
                  <ion-label>Trash</ion-label>
              </ion-segment-button> -->
    <!-- </ion-segment> -->
    <!-- </ion-toolbar> -->
  </ion-header>

  <!-- <ion-tabs class="tabs-icon-top tabs-color-active-positive" style="position: relative !important;"> -->



  <ion-content class="">
    <div id="contentload" style="display: inline;">
      <input type="hidden" id="loadedDP">

      <ion-slides style="height: 100%;">

        <!-- <ion-tab tab="tab-schedule">
                  <ion-nav> -->
        <ion-slide class="slide-1 " class="swiper-no-swiping">
          <ion-content class="has-tabs-top has-tabs has-header ion-padding">
            <!-- <div data-role="tabs"> -->
            <!-- <template id="tab1.html"> -->

            <!-- <ons-page> -->

            <div style="padding-left: 0px; " id="tabs-4">
              <div id="content">
                <img id="mat" width="1024" style="display:none;width:1024;
                    height:auto;position: fixed;    bottom: -10000;   left: -100000" alt="The Mat">
                <img style="display:none;" id="tmpimgholder">

                <canvas style="display:none" id="tmpCanvas" width="778" height="389"></canvas>

                <a style="display:none" download="myPlan.png" target="_blank" href="" id="downloadPic">Download to
                  myImage.jpg</a>

                <div class="content-box">
                  <!-- jQuery UI -->
                  <script type="text/javascript" src="assets/./lib/jquery.ui.core.1.10.3.min.js"></script>
                  <script type="text/javascript" src="assets/./lib/jquery.ui.widget.1.10.3.min.js"></script>
                  <script type="text/javascript" src="assets/./lib/jquery.ui.mouse.1.10.3.min.js"></script>
                  <script type="text/javascript" src="assets/./lib/jquery.ui.draggable.1.10.3.min.js"></script>

                  <!-- wColorPicker -->
                  <link rel="Stylesheet" type="text/css" href="assets/./lib/wColorPicker.min.css" />
                  <script type="text/javascript" src="assets/./lib/wColorPicker.min.js"></script>

                  <!-- wPaint -->
                  <link rel="Stylesheet" type="text/css" href="assets/./wPaint.min.css" />
                  <script type="text/javascript" src="assets/./wPaint.min.js"></script>
                  <script type="text/javascript" src="assets/./plugins/main/wPaint.menu.main.min.js"></script>
                  <script type="text/javascript" src="assets/./plugins/text/wPaint.menu.text.min.js"></script>
                  <script type="text/javascript" src="assets/./plugins/shapes/wPaint.menu.main.shapes.min.js"></script>
                  <script type="text/javascript" src="assets/./plugins/file/wPaint.menu.main.file.min.js"></script>




                </div>
                <!-- <table>
                          <tr>
                            <td style="max-width:40px">         -->
                <div style="border-color: black; border-width: 2px;" data-type="horizontal" data-role="controlgroup"
                  style="position:relative;">


                  <ion-button disabled data-inline="true" class="ion-button toolDraw dpTool"
                    onclick="changecolor(this);$('#wPaint').wPaint('setStrokeStyle','yellow');$('#wPaint').wPaint('setLineWidth',3);"
                    style=" --background: yellow!important; 
                                                     background-size: contain; width: 50.39px; height: 36px;  background-position: center;
                                                     background-repeat: no-repeat;"> </ion-button>

                  <ion-button data-inline="true" class="ion-button toolDraw dpTool"
                    onclick="changecolor(this);$('#wPaint').wPaint('setStrokeStyle','green');$('#wPaint').wPaint('setLineWidth',3);"
                    style=" --background: green!important; width: 50.39px; height: 36px;   background-size: contain;  background-position: center;
                                                    background-repeat: no-repeat;"> </ion-button>

                  <ion-button class="ion-button toolDraw dpTool"
                    onclick="changecolor(this);$('#wPaint').wPaint('setStrokeStyle','red');$('#wPaint').wPaint('setLineWidth',3);"
                    style=" --background: red!important; width: 50.39px; height: 36px;   background-size: contain;  background-position: center;
                                                 background-repeat: no-repeat;"> </ion-button>
                  <ion-button class="ion-button toolDraw dpTool"
                    onclick="changecolor(this);$('#wPaint').wPaint('setStrokeStyle','blue');$('#wPaint').wPaint('setLineWidth',3);"
                    style=" --background: blue!important; width: 50.39px; height: 36px;   background-size: contain;  background-position: center;
                                                  background-repeat: no-repeat;"> </ion-button>
                  <ion-button class="ion-button toolDraw dpTool"
                    onclick="changecolor(this);$('#wPaint').wPaint('setStrokeStyle','orange');$('#wPaint').wPaint('setLineWidth',3);"
                    style=" --background: orange!important; width: 50.39px; height: 36px;   background-size: contain;  background-position: center;
                                              background-repeat: no-repeat;"> </ion-button>
                  <ion-button class="ion-button toolDraw dpTool"
                    onclick="changecolor(this);$('#wPaint').wPaint('setStrokeStyle','brown');$('#wPaint').wPaint('setLineWidth',3);"
                    style=" --background: brown!important; width: 50.39px; height: 36px;   background-size: contain;  background-position: center;
                                                   background-repeat: no-repeat;"> </ion-button>
                  <ion-button class="ion-button toolDraw dpTool"
                    onclick="changecolor(this);$('#wPaint').wPaint('setStrokeStyle','black');$('#wPaint').wPaint('setLineWidth',3); toolDraw"
                    style=" --background: black!important; width: 50.39px; height: 36px;   background-size: contain;  background-position: center;
                                                   background-repeat: no-repeat;"> </ion-button>
                  <ion-button class="ion-button toolDraw dpTool"
                    onclick="changecolor(this);$('#wPaint').wPaint('setStrokeStyle','white');$('#wPaint').wPaint('setLineWidth',3);"
                    style=" --background: white!important; width: 50.39px; height: 36px;   background-size: contain;  background-position: center;
                                                   background-repeat: no-repeat;"> </ion-button>
                  <ion-button class="ion-button dpTool" onclick="$('#wPaint').wPaint('clear');">
                    <ion-icon name="trash-outline"></ion-icon>
                  </ion-button>
                  <ion-button class="ion-button toolEdit dpTool"
                    onclick="drawmode='eraser'; changeedit(this); $('#wPaint').wPaint('setMode','eraser');$('#wPaint').wPaint('setLineWidth',10);">
                    <ion-icon name="close-circle-outline"></ion-icon>
                  </ion-button>
                  <ion-button class="ion-button dpTool" onclick="$('#wPaint').wPaint('undo');">
                    <ion-icon name="arrow-undo-outline"></ion-icon>
                  </ion-button>
                  <ion-button class="ion-button dpTool" onclick="$('#wPaint').wPaint('redo');">
                    <ion-icon name="arrow-redo-outline"></ion-icon>
                  </ion-button>

                  <ion-button class="ion-button toolEdit dpTool"
                    onclick="drawmode='pencil';changeedit(this); $('#wPaint').wPaint('setMode','pencil'); $('#wPaint').wPaint('setLineWidth',3);"
                    color="secondary">
                    <ion-icon name="pencil-outline"></ion-icon>

                  </ion-button>
                  <ion-button class="ion-button toolEdit dpTool"
                    onclick="drawmode='line';changeedit(this);$('#wPaint').wPaint('setMode','line'); $('#wPaint').wPaint('setLineWidth',3);">
                    <ion-icon name="remove-outline"></ion-icon>
                  </ion-button>
                  <ion-button class="ion-button toolEdit dpTool"
                    onclick="drawmode='rectangle';changeedit(this);$('#wPaint').wPaint('setMode','rectangle'); $('#wPaint').wPaint('setLineWidth',3);$('#wPaint').wPaint('setFillStyle','transparent');">
                    <ion-icon name="square-outline"></ion-icon>
                  </ion-button>
                  <ion-button class="ion-button toolEdit dpTool"
                    onclick="drawmode='text';changeedit(this);$('#wPaint').wPaint('setMode','text'); $('#wPaint').wPaint('setFontSize','25');$('#wPaint').wPaint('setFillStyle','red');">
                    <ion-icon name="text-outline"></ion-icon>
                  </ion-button>
                  <ion-button class="ion-button dpTool" onclick="presentModal();
                   setTimeout(function(){ var fileInputDP = document.getElementById('fileInputDP');
    fileInputDP.addEventListener('change', function (e) {
        var file = fileInputDP.files[0];
        var textType = /text.*/;
        if (1 == 1) {
            var reader = new FileReader();
            reader.onload = function (e) {
                data = reader.result;
                //alert(data)
                window.localStorage.canvasImage2021 = data;
                showPastDraws();
                ionAlert(doneText)
            }
            reader.readAsText(file);
        } else { }
    });
    showPastDraws()
    switchLanguage()
  }, 100);
                  ">
                    <ion-icon name="save-outline"></ion-icon>
                  </ion-button>
                </div>
                <!-- </td>
                            <td>
                              
                    -->
                <a style="display:none;" id="saveMenu" href="#popupMap" data-rel="popup" data-position-to="window"
                  data-role="ion-button" data-theme="a" data-inline="true" aria-haspopup="true" aria-owns="popupMap"
                  aria-expanded="false" class="ui-link ui-btn ui-btn-a ui-btn-inline ui-shadow ui-corner-all ui-mini"
                  role="ion-button">Open
                  Saves</a>


                <div id="wPaint"
                  style="position:relative;  top:10px;height:auto; background-color:#7a7a7a;margin-top:20px;">

                  <!-- height="100%" width="100%"-->
                  <div id="container">
                    <img src="assets/images/head.jpg" style="width: 100%;  height:auto;">
                    <div id="holder">
                    </div>
                  </div>
                </div>
                <!-- <script type="text/javascript" language="javascript">
                                  
                    
                                  </script> -->
              </div>
              <!-- </td>
                    </tr>
                    </table> -->
              
              <center>
                <article>

                  <p><input style="position: fixed; top:-100px;" id="imageLoader" name="imageLoader" type="file">
                  </p>
                  <i style="display: none;" id="status">File API &amp; FileReader API not supported</i>
                </article>
              </center>

              <center id="wPaint-img"></center>


              <script>
                var content = document.querySelector('ion-content');
                content.scrollEvents = true;
                content.addEventListener('ionScrollStart', () => console.log('scroll start'));
                content.addEventListener('ionScroll', (ev) => console.log('scroll', ev.detail));
                content.addEventListener('ionScrollEnd', () => console.log('scroll end'));
              </script>

            </div>



            <!--                 
                          <div class="no-print no-tournament" data-role="navbar">
                              <div data-hide-during-focus="" data-tap-toggle="false" data-role="header" data-position="fixed">
      
                                  <ul>
                                      <li><a id="scorerTitle" class="ui-btn-active" href="#tabs-1">Scorer</a></li>
                                      <li><a id="timersTitle" href="#tabs-2">Timers</a></li>
                                      <li><a id="savesTitle" onclick="drawBasic()" href="#tabs-3">Saves</a></li>
                                  </ul>
                              </div>
                          </div> -->


            <!-- </div> -->


            <noscript>Please enable JavaScript to continue using this application.</noscript>
            <div style="padding-left: 10px; display:none;" class="no-print">

              <text style="display:none" id="tournamentText">Tournament</text><br><br>

              <text id="revisionText">Scorer </text> <text id="versionText">v5.0.0</text>
              <!-- Scorer v3.5.0 -->
              <br>
              <br><text id="copyrightText">Copyright</text><br>
              <br>
              <text id="translatorCredit">Translated</text>
            </div>
            <br>
            <br>
            <br>

          </ion-content>

          <!-- </ion-content> -->
          <!-- </ion-nav>
                   -->
        </ion-slide>

        <!--                     
              <ion-tab tab="tab-about" component="page-about">
                  <ion-nav></ion-nav>
              </ion-tab> -->

      </ion-slides>
    </div>

  </ion-content>

  <!-- <ion-tab-bar slot="bottom">
          <ion-tab-button tab="tab-schedule">
              <ion-icon name="calendar"></ion-icon>
              <ion-label>Scorer</ion-label>
              <ion-badge>6</ion-badge>
          </ion-tab-button>

          <ion-tab-button tab="tab-speaker">
              <ion-icon name="person-circle"></ion-icon>
              <ion-label>Timers</ion-label>
          </ion-tab-button>

          <ion-tab-button tab="tab-map">
              <ion-icon name="map"></ion-icon>
              <ion-label>Saves</ion-label>
          </ion-tab-button>

          <ion-tab-button >
            
              <i id="allpoints" style="font-weight: bold; font-size: 200%;color:green">
                  0</i>
                  
              <ion-label style="font-weight: bold; color:green">Points</ion-label>
          </ion-tab-button>
          <ion-tab-button >
              <ion-button id="resetTxt" value="Reset" class="ui-mini no-print"
              onclick="document.getElementById('missions').reset();loadsave(blanksave);check_missions();">
              Reset</ion-button>
          </ion-tab-button>
      </ion-tab-bar>
      
   -->
  <!-- </ion-tabs> -->

</div>
<!-- <img src="assets/images/ajax-loader.gif" id="loadingGif" style="background-color:white; width:50px; height: auto;position:fixed;left:50%;top:50%;margin-left: -25px;margin-top:-25px;z-index:10000000000000000000000000000000000000000;"> -->
<div class="loader" id="loadingGif"
  style="position:fixed;left:50%;top:50%;margin-left: -25px;margin-top:-25px;z-index:10000000000000000000000000000000000000000;">
</div>
<!-- 
<ion-content>


</ion-content> -->

<!-- </ons-page> -->


<div style="display:none" class="no-mobile">

  <a target="_blank" class="no-print"
    href="https://play.google.com/store/apps/details?id=com.ev3lessons.fllcityshaperscorer">
    <img id="googleplay" height="100" src="assets/google-play/en_get.svg"></a><br>

  <a target="_blank" class="no-print" href="https://apps.apple.com/app/fll-city-shaper-scorer/id1473760751?ls=1">
    <img id="appstore" height="68" style="padding: 15px" src="assets/app-store/en.svg"></a>


</div>
<link rel="stylesheet" href="assets/css/colors.css" />

<div id="styleBlank"></div>
