<ion-header>

  <ion-toolbar>
    <ion-buttons slot="start" style="display: block !important;">
      <ion-menu-toggle style="display: block !important;">
        <ion-button onclick="document.getElementById('mainNav').open()" style="display: block !important;">
          <ion-icon slot="icon-only" name="menu" style="display: block !important;"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>
    <ion-title>FLL Explore Review Sheet</ion-title>
  </ion-toolbar>
</ion-header>

<!-- <ion-content style="height: 100%;"> -->

<ion-content class="has-tabs-top has-tabs has-header ion-padding">
  <div id="tabs-1">
    <input type="hidden" id="loadedEX">

    <form>

      <div id="exlist" style="overflow-x: auto;">
        <script src="assets/rubric.js"></script>

      </div>
      <ion-button onclick="resetRB('EX');setTimeout(function()
{
  rubricCalcEX()

}, 100);" style="max-width: 500px" class="no-print" type="reset">Reset</ion-button><br><br><br><br>
    </form>

  </div>
  <!-- </ion-content> -->

  <!-- </ion-content> -->
  <!-- </ion-nav>
   -->

  <!-- <ion-content class="has-tabs-top has-tabs has-header ion-padding"> -->

  <div id="tabs-4">

    <div style="max-width:500px">
      <div class="ui-corner-all ui-shadow-inset no-mobile" style="border:1px solid black;max-width:500px">

        <div style="margin: 10px;">
          <h3>Saves</h3>
          <ion-button type="ion-button"
            onclick="saverRBEX();maximumRB = window.localStorage.DRERBSscorer.split('&&&').length-1">Save
            Rubric</ion-button>

          <br>
          <style>
            input[type=number]::-webkit-outer-spin-ion-button,
            input[type=number]::-webkit-inner-spin-ion-button {
              -webkit-appearance: none;
              margin: 0;
            }

            input[type=number] {
              -moz-appearance: textfield;
            }
          </style>

          <script>
            if (window.localStorage.DRRBSscorer != undefined) {
              maximumRB = window.localStorage.DRRBSscorer.split('&&&').length - 1;
              min = 1;
              start = 1;
            } else {
              maximumRB = 0
              min = 0
              start = 0
            }
          </script>
          <div class="ui-grid-b ui-responsive">
            <div style="width: 170" class="ui-block-a" align="left">

              <div style="max-width: 300px; " class="ui-block-b ">

                <ion-item>

                  <ion-button style="text-align: left; " id="loadText" class="ui-shadow ui-btn ui-corner-all "
                    type="button " onclick="loaderRBEX(document.getElementById( 'saveidRBEX').value) ">
                    Load Rubric No.</ion-button>
                  <ion-item no-lines>

                    <!-- 
                  <div data-role="stepper " data-direction="vertical ">

                      <div style="max-width: 60px; " class="button-wrap "> -->
                    <ion-button type="button" value="- "
                      onclick="document.getElementById( 'saveidRBEX').value--; if (document.getElementById( 'saveidRBEX').value < 1) {document.getElementById( 'saveidRBEX').value=1 } ">
                      <ion-icon name="remove-outline"></ion-icon>
                    </ion-button>
                    <!-- </div>
                  </div>
              </div>
              <div class="ui-block-c " style="max-width: 60px; ">
                  <div style="max-width: 60px; " class="button-wrap "> -->
                    <ion-input style="height: 41px;text-align: center; " type="number " data-highlight="true "
                      data-theme="b " onchange=" if (this.value> maximumRBEX) {this.value = maximumRBEX}" search="2"
                      class="quantity" data-show-value="true" name="saveidRBEX" id="saveidRBEX" value="1" min="1"
                      step="1">
                    </ion-input>
                    <!-- </div>
              </div>
              <div class="ui-block-d" style="max-width: 60px; ">
                  <div style="max-width: 60px; " class="button-wrap"> -->
                    <ion-button type="button" value="+"
                      onclick="document.getElementById('saveidRBEX').value++; if (document.getElementById('saveidRBEX').value > maximumRB) {document.getElementById('saveidRBEX').value = maximumRB}">
                      <ion-icon name="add-outline"></ion-icon>
                    </ion-button>
                    <!-- </div>-->
                  </ion-item>
                </ion-item>

              </div>
              <!-- <div class="ion-button-wrap">
                    <ion-button style="text-align: left;" id="loadText" class="ui-shadow ui-btn ui-corner-all"
                      type="ion-button" onclick="loaderRB(document.getElementById('saveidRB').value)">Load
                      Rubric No.</ion-button>
                  </div> -->

            </div>
            <!--
        <div style="max-width: 60px; " class="ui-block-b">

          <div data-role="stepper" data-direction="vertical">

            <div style="max-width: 60px; " class="button-wrap">
              <input type="button" value="-"
                onclick="document.getElementById('saveid').value--;  if (document.getElementById('saveid').value < 1) {document.getElementById('saveid').value = 1}">
            </div>
          </div>
        </div>
        <div class="ui-block-c" style="max-width: 60px; ">
          <div style="max-width: 60px;" class="button-wrap">
            <input style="height: 41px" type="number" data-highlight="true" data-theme="b"
              onchange=" if (this.value > maximum) {this.value = maximum}" search="2" class="quantity"
              data-show-value="true" name="saveid" id="saveid" value="1" min="1" step="1">
          </div>
        </div>
        <div class="ui-block-d" style="max-width: 60px; ">
          <div style="max-width: 60px; " class="button-wrap">
            <input type="button" value="+"
              onclick="document.getElementById('saveid').value++; if (document.getElementById('saveid').value > maximum) {document.getElementById('saveid').value = maximum}">
          </div>
        </div>
      -->
            <!-- <input id="saveidRB" type="text" data-inline="true" data-role="spinbox"
                  onchange="if (this.value > maximumRB) {this.value = maximumRB} " min="1" value="0"> -->

            <!--       </div>
 </div>-->

          </div>
          <ion-button text-wrap class="ui-ion-button ui-widget ui-corner-all" type="ion-button"
            onclick="window.localStorage.DRERBSscorer = '';window.localStorage.DRERBS2scorer='';ionAlert('Deleted all Saves');displayRBSavesEX();">
            Delete all Saved Rubrics</ion-button>

          <div>
            <br><br>
            <ion-button text-wrap class="ui-mini no-mobile" onclick=" document.getElementById('fileInputRBEX').click() ;
         maximumRBEX = window.localStorage.DRERBSscorer.split('&&&').length-1;">Import Shared Rubrics</ion-button>

            <input onchange="setTimeout(function(){
   document.getElementById('saveidRBEX').max = window.localStorage.DRERBSscorer.split('&&&').length-1;},300)" style=" position: fixed;
bottom: -10000px;
left: -100000px;" type="file" accept=".DRERB" id="fileInputRBEX">
            <br>

            <ion-button text-wrap class="ui-mini no-mobile"
              onclick="window.download(window.localStorage.DRERBSscorer+'__LABEL__'+window.localStorage.DRERBS2scorer, 'mysaves.DRERB','application/octet-stream')">
              Share Rubrics</ion-button>

            <script type="text/javascript">



              var currentTime = new Date()
              var day = currentTime.getDate()
            </script>

            <h3>Past Reviewing Sheets</h3>
            <div id="pastRBEX">

            </div>
          </div>
        </div>
        </div>
        <br><br><br>
        <div class="ui-corner-all ui-shadow-inset no-mobile" style="border:1px solid black;max-width:500px;display:none;">

          <div style="margin: 10px;">

            <h3>Advanced</h3>
            <table style="padding-left: 10px; ">
              <tr>
                <td>
                  <div style="max-width: 100px">
                    <text id="teamText"> Team No.</text>:
                    <ion-input value="0" id="team_num" style="border: 1px solid black;" type="number"></ion-input>
                  </div>
                </td>
                <td colspan="2">
                  <div style="max-width: 500px">
                    <text id="nameText">Your Name</text>: <ion-input value="" id="name" style="border: 1px solid black;"
                      type="text"></ion-input>
                  </div>
                </td>

                <!-- <tr>
                        <td colspan="2">
                            <div style="max-width: 500px">
                                <text id="roleText">Role</text>: 
                                <select data-role="none" id="role">
                                    <option value=""></option>
                                    <option value="TM">Team</option>
                                    <option value="RF">Referee</option>
                                    <option value="HR">Head Referee</option>
                                </select>
                            </div>
                        </td>
                    </tr> -->
            </table>

            <div style="max-width:500px">
              <iframe style="display: none;" id="saveframe"></iframe>

              <ion-button text-wrap onclick="downloadScoreEX('EX');" id="saverTscorer" type="ion-button">Download
                Current Review Sheet</ion-button>

              <br><br>
              <text>Load Local Rubric:</text> <input onchange="" type="file" accept=".TDRERB" id="fileInputTRBEX">
              <!-- position: fixed;
                    bottom: -10000px;
                    left: -100000px; -->
              <!-- <ion-button id="importText" class="ui-mini no-mobile" onclick=" document.getElementById('fileInputT').click()">Load Score</ion-button> -->



            </div>

          </div>

      </div>
    </div>





  </div>

</ion-content>

<!-- </ion-content> -->
<!-- </ion-nav>
   -->



<!-- </ion-content> -->