<ion-router-outlet id="menuContent"></ion-router-outlet>


<div class="ion-page" id="mainContent" main>
    <ion-header>
        <ion-toolbar>
            <ion-buttons slot="start" style="display: block !important;">
                <ion-menu-toggle style="display: block !important;">
                    <ion-button onclick="document.getElementById('mainNav').open()" style="display: block !important;">
                        <ion-icon slot="icon-only" name="menu" style="display: block !important;"></ion-icon>
                    </ion-button>
                </ion-menu-toggle>
            </ion-buttons>
            <!-- </ion-buttons> -->
            <ion-title id="title">FLL MASTERPIECE Scorer (COMING SOON)</ion-title>
        </ion-toolbar>
        <!-- <ion-toolbar color=""> -->
        <!-- <ion-segment scrollable>
              <ion-segment-button value="0" checked>
                  <ion-icon name="call"></ion-icon>
                  <ion-label>Call</ion-label>
              </ion-segment-button>
              <ion-segment-button value="1">
                  <ion-icon name="cloud-upload"></ion-icon>
                  <ion-label>Publish</ion-label>
              </ion-segment-button>
              <ion-segment-button value="2">
                  <ion-icon name="paper"></ion-icon>
                  <ion-label>Topic</ion-label>
              </ion-segment-button> -->
        <!-- <ion-segment-button value="3">
                  <ion-icon name="code-working"></ion-icon>
                  <ion-label>Query</ion-label>
              </ion-segment-button>
              <ion-segment-button value="4">
                  <ion-icon name="open"></ion-icon>
                  <ion-label>Open</ion-label>
              </ion-segment-button>
              <ion-segment-button value="5">
                  <ion-icon name="search"></ion-icon>
                  <ion-label>Search</ion-label>
              </ion-segment-button>
              <ion-segment-button value="6">
                  <ion-icon name="create"></ion-icon>
                  <ion-label>Write</ion-label>
              </ion-segment-button>
              <ion-segment-button value="7">
                  <ion-icon name="book"></ion-icon>
                  <ion-label>Read</ion-label>
              </ion-segment-button>
              <ion-segment-button value="8">
                  <ion-icon name="trash"></ion-icon>
                  <ion-label>Trash</ion-label>
              </ion-segment-button> -->
        <!-- </ion-segment> -->
        <!-- </ion-toolbar> -->
    </ion-header>

    <ion-footer>

        <ion-toolbar color="">
            <ion-segment scrollable class="scorersegment">
                <ion-segment-button value="0" checked>
                    <ion-icon name="clipboard-outline"></ion-icon>
                    <ion-label>Scorer</ion-label>
                </ion-segment-button>
                <ion-segment-button value="1">
                    <ion-icon name="alarm-outline"></ion-icon>
                    <ion-label>Timers</ion-label>
                </ion-segment-button>
                <ion-segment-button value="2">
                    <ion-icon name="save-outline"></ion-icon>
                    <ion-label>Saves</ion-label>
                </ion-segment-button>
                <ion-segment-button>

                    <i id="allpoints" style="font-weight: bold; font-size: 150%;color:green">
                        0</i>

                    <ion-label style="font-weight: bold; color:green" id="pointsTxt">Points</ion-label>
                </ion-segment-button>
                <ion-segment-button
                    onclick="document.getElementById('missions').reset();loadsave(blanksave);check_missions();">
                    <ion-button id="resetTxt" value="Reset" class="ui-mini no-print"
                        onclick="document.getElementById('missions').reset();loadsave(blanksave);check_missions();">
                        Reset</ion-button>
                </ion-segment-button>
                <!-- <ion-segment-button value="3">
                  <ion-icon name="code-working"></ion-icon>
                  <ion-label>Query</ion-label>
              </ion-segment-button>
              <ion-segment-button value="4">
                  <ion-icon name="open"></ion-icon>
                  <ion-label>Open</ion-label>
              </ion-segment-button>
              <ion-segment-button value="5">
                  <ion-icon name="search"></ion-icon>
                  <ion-label>Search</ion-label>
              </ion-segment-button>
              <ion-segment-button value="6">
                  <ion-icon name="create"></ion-icon>
                  <ion-label>Write</ion-label>
              </ion-segment-button>
              <ion-segment-button value="7">
                  <ion-icon name="book"></ion-icon>
                  <ion-label>Read</ion-label>
              </ion-segment-button>
              <ion-segment-button value="8">
                  <ion-icon name="trash"></ion-icon>
                  <ion-label>Trash</ion-label>
              </ion-segment-button> -->
            </ion-segment>
        </ion-toolbar>
    </ion-footer>
    <!-- <ion-tabs class="tabs-icon-top tabs-color-active-positive" style="position: relative !important;"> -->



    <ion-content class="">
        <div id="contentload" style="display: inline;">
            <input type="hidden" id="loadedSC">

            <ion-slides style="height: 100%;" class="scorerslides">

                <!-- <ion-tab tab="tab-schedule">
                  <ion-nav> -->
                <ion-slide class="slide-1 ">
                    <ion-content class="has-tabs-top has-tabs has-header ion-padding">
                        <!-- <div data-role="tabs"> -->
                        <!-- <template id="tab1.html"> -->

                        <!-- <ons-page> -->
                        <div id="tabs-1" class="swiper-no-swiping">

                            <form id="missions">
                                <div id="missionlist"></div>


                            </form>



                            <div class="only-print"
                                style="width:100%; background-color:#35782f; color: white; text-align: center;">
                                <i id="pointsTxt2">Points</i><i> </i><i id="allpoints2"> 0</i>
                            </div>



                        </div>
                        <script>
                            var content = document.querySelector('ion-content');
                            content.scrollEvents = true;
                            content.addEventListener('ionScrollStart', () => console.log('scroll start'));
                            content.addEventListener('ionScroll', (ev) => console.log('scroll', ev.detail));
                            content.addEventListener('ionScrollEnd', () => console.log('scroll end'));
                        </script>





                        <!--                 
                          <div class="no-print no-tournament" data-role="navbar">
                              <div data-hide-during-focus="" data-tap-toggle="false" data-role="header" data-position="fixed">
      
                                  <ul>
                                      <li><a id="scorerTitle" class="ui-btn-active" href="#tabs-1">Scorer</a></li>
                                      <li><a id="timersTitle" href="#tabs-2">Timers</a></li>
                                      <li><a id="savesTitle" onclick="drawBasic()" href="#tabs-3">Saves</a></li>
                                  </ul>
                              </div>
                          </div> -->


                        <!-- </div> -->


                        <noscript>Please enable JavaScript to continue using this application.</noscript>
                        <div style="padding-left: 10px; display:none;" class="no-print">

                            <text style="display:none" id="tournamentText">Tournament</text><br><br>

                            <text id="revisionText">Scorer </text> <text id="versionText">v5.0.0</text>
                            <!-- Scorer v3.5.0 -->
                            <br>
                            <br><text id="copyrightText">Copyright</text><br>
                            <br>
                            <text id="translatorCredit">Translated</text>
                        </div>
                        <br>
                        <br>
                        <br>

                    </ion-content>

                    <!-- </ion-content> -->
                    <!-- </ion-nav>
                   -->
                </ion-slide>
                <!-- </ion-tab> -->
                <!-- <ion-tab tab="tab-speaker">
                  <ion-nav> -->
                <ion-slide class="slide-2">
                    <ion-content class="has-tabs-top has-tabs has-header ion-padding">

                        <div style="padding-left: 10px; " id="tabs-2" class="swiper-no-swiping">
                            <p>
                                <!--	  Timer System 1.5.0 -->
                            <div class="ui-mini" id="Timer">
                                <text id="timerText"> Timer: </text>
                                <table id="timerChild" class="timer"
                                    style="text-align:center!important;border-collapse: collapse;width:250px;max-width:250px;">
                                    <tr class="timer" style=" border-collapse: collapse;">
                                        <td rowspan="3" class="timer"
                                            style="  border-collapse: collapse; vertical-align:middle; font-size: 200%;">
                                            <p id="countdownTime" style="margin-left: 5px;margin-right: 5px;">
                                                2:30
                                            </p>
                                        </td>
                                        <td class="timer" style="border-collapse: collapse;width:95px;">
                                            <ion-button id="startText" style="margin:0;width:100%;" onclick="CDtimer()">
                                                Start</ion-button>
                                        </td>
                                    </tr>
                                    <tr class="timer" style="border-collapse: collapse;">
                                        <td class="timer" style="border-collapse: collapse;width:95px;">
                                            <ion-button id="resetText" style="margin:0;width:100%;"
                                                onclick="document.getElementById('countdownTime').textContent = '2:30'; CDseconds = 30; CDminutes = 2; clearTimeout(CDinterval); CDinterval = null;">
                                                Reset</ion-button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="timer" style="border-collapse: collapse;width:95px;">
                                            <ion-button style="margin:0;width:100%;" id="stopText"
                                                onclick="clearTimeout(CDinterval); CDinterval = null;">Stop
                                            </ion-button>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <br><br>

                            <div class="ui-mini" id="Stopwatch">
                                <text id="stopwatchText"> Stopwatch: </text>
                                <table class="timer" id="stopwatchChild"
                                    style="text-align:center!important;border-collapse: collapse;width:250px;max-width:250px;">
                                    <tr class="timer" style="border-collapse: collapse;">
                                        <td class="timer" rowspan="3"
                                            style="border-collapse: collapse; vertical-align:middle; font-size: 200%">
                                            <p id="stopwatchTime" style="margin-left: 5px;margin-right: 5px;">
                                                00:00.0
                                            </p>
                                        </td>
                                        <td class="timer" style="border-collapse: collapse;width:95px;">
                                            <ion-button style="margin:0;width:100%;" id="startSW" onclick="SWtimer();">
                                                Start
                                            </ion-button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="timer" style="border-collapse: collapse;width:95px;">
                                            <ion-button style="margin:0;width:100%;" id="resetSW"
                                                onclick="document.getElementById('stopwatchTime').textContent = '00:00.0'; SWseconds = 0; SWminutes = 0; SWtenths=0; clearTimeout(SWinterval); SWinterval = null;">
                                                Reset</ion-button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="timer" style="border-collapse: collapse;width:95px;">
                                            <ion-button style="margin:0;width:100%;" id="stopSW"
                                                onclick="clearTimeout(SWinterval); SWinterval = null;">Stop
                                            </ion-button>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>

                    </ion-content>
                    <!-- </ion-nav>
              </ion-tab> -->
                </ion-slide>
                <ion-slide class="slide-3">
                    <!-- <ion-tab tab="tab-map" >
                  <ion-nav> -->
                    <ion-content class="has-tabs-top has-tabs has-header ion-padding">

                        <div style="padding-left: 10px; " id="tabs-3" class="swiper-no-swiping">

                            <!-- <a href="#" data-rel="back" data-role="button" data-theme="b" data-icon="delete" data-iconpos="notext"
              class="ui-btn-right">Close</a> -->
                            <div id="saveContent" style="max-width: 600px;">

                                <h1 id="savesTitle">Saves</h1>


                                <br><br>

                                <!--	      Google Saving System v1.0 -->

                                <!-- Legacy Local Saver -->
                                <div id="legacy" style="max-width:100%; ">

                                    <ion-button type="button" id="saveText"
                                        onclick="sharksave=0; saver();displaysaves(); drawBasic(); maximum=window.localStorage.DRCCSscorer.split( '/').length-1 ">
                                        Save
                                        Score</ion-button>

                                    <br>


                                    <!-- <div class="ui-grid-b ui-responsive ">
                                      <div style="width: 170" class="ui-block-a" align="left ">
                                          <div class="button-wrap">
                                             
                                          </div>
                                      </div> -->
                                    <div style="max-width: 300px; " class="ui-block-b ">
                                        <ion-item>

                                            <ion-button style="text-align: left; " id="loadText"
                                                class="ui-shadow ui-btn ui-corner-all " type="button "
                                                onclick="loader(document.getElementById( 'saveid').value) ">
                                                Load Save</ion-button>
                                            <ion-item no-lines>

                                                <!-- 
                                          <div data-role="stepper " data-direction="vertical ">

                                              <div style="max-width: 60px; " class="button-wrap "> -->
                                                <ion-button type="button" value="- "
                                                    onclick="document.getElementById( 'saveid').value--; if (document.getElementById( 'saveid').value < 1) {document.getElementById( 'saveid').value=1 } ">
                                                    <ion-icon name="remove-outline"></ion-icon>
                                                </ion-button>
                                                <!-- </div>
                                          </div>
                                      </div>
                                      <div class="ui-block-c " style="max-width: 60px; ">
                                          <div style="max-width: 60px; " class="button-wrap "> -->
                                                <ion-input style="height: 41px;text-align: center; " type="number "
                                                    data-highlight="true " data-theme="b "
                                                    onchange=" if (this.value> maximum) {this.value = maximum}"
                                                    search="2" class="quantity" data-show-value="true" name="saveid"
                                                    id="saveid" value="1" min="1" step="1"></ion-input>
                                                <!-- </div>
                                      </div>
                                      <div class="ui-block-d" style="max-width: 60px; ">
                                          <div style="max-width: 60px; " class="button-wrap"> -->
                                                <ion-button type="button" value="+"
                                                    onclick="document.getElementById('saveid').value++; if (document.getElementById('saveid').value > maximum) {document.getElementById('saveid').value = maximum}">
                                                    <ion-icon name="add-outline"></ion-icon>
                                                </ion-button>
                                                <!-- </div>-->
                                            </ion-item>
                                        </ion-item>
                                    </div>


                                    <!-- <input id="saveid" type="text" data-inline="true"
                                              data-role="spinbox"
                                              onchange="if (this.value > maximum) {this.value = maximum} "
                                              min="1" value="0"> -->

                                    <!--       </div>
           </div>-->

                                </div>
                                <ion-button text-wrap id="deleteText" class="ui-button ui-widget ui-corner-all" type="button"
                                    onclick="window.localStorage.DRCCSscorer = ''; window.localStorage.DRCCS1scorer = ''; displaysaves(); drawBasic(); ionAlert(doneText)">
                                    Delete All Saves</ion-button>

                                <div>
                                    <div id="containerHC"
                                        style="height: 200px; margin: 0 auto; min-width:200px;  width:100%; max-width: 500px;">
                                    </div>
                                    <div id="saves"></div>

                                    <ion-button id="importText" class="ui-mini no-mobile" onclick=" document.getElementById('fileInput').click() ;
                               maximum = window.localStorage.DRCCSscorer.split('/').length-1;">Import Shared Scores</ion-button>

                                    <input onchange="setTimeout(function(){
             displaysaves();
             drawBasic();
             document.getElementById('saveid').max = window.localStorage.DRCCSscorer.split('/').length-1;},300)" style=" position: fixed;
          bottom: -10000px;
          left: -100000px;" type="file" accept=".DRCC" id="fileInput">


                                    <ion-button text-wrap class="ui-mini no-mobile" id="exportText"
                                        onclick="window.download(window.localStorage.DRCCSscorer + ';' + window.localStorage.DRCCS1scorer, day+'myscores.DRCC','application/octet-stream')">
                                        Share Saves</ion-button>

                                    <script type="text/javascript">



                                        var currentTime = new Date()
                                        var day = currentTime.getDate()
                                    </script>



                                </div>

                            </div>
                            <br><br><br>
                            <div class="ui-corner-all ui-shadow-inset no-mobile"
                                style="border:1px solid black;max-width:500px;display:none;">

                                <div style="margin: 10px;">

                                    <h3>Advanced</h3>
                                    <table style="padding-left: 10px; ">
                                        <tr>
                                            <td>
                                                <div style="max-width: 100px">
                                                    <text id="teamText"> Team No.</text>:
                                                    <ion-input value="0" id="team_num" style="border: 1px solid black;"
                                                        type="number"></ion-input>
                                                </div>
                                            </td>
                                            <td>
                                                <div style="max-width: 100px">
                                                    <text id="roundText"> Round No.</text>: <ion-input value="0"
                                                        id="round_num" style="border: 1px solid black;" type="number">
                                                    </ion-input>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="2">
                                                <div style="max-width: 500px">
                                                    <text id="nameText">Your Name</text>: <ion-input id="name"
                                                        type="text" style="border: 1px solid black;"></ion-input>
                                                </div>
                                            </td>
                                        </tr>
                                        <!-- <tr>
                      <td colspan="2">
                          <div style="max-width: 500px">
                              <text id="roleText">Role</text>: 
                              <select data-role="none" id="role">
                                  <option value=""></option>
                                  <option value="TM">Team</option>
                                  <option value="RF">Referee</option>
                                  <option value="HR">Head Referee</option>
                              </select>
                          </div>
                      </td>
                  </tr> -->
                                    </table>

                                    <div style="max-width:300px">
                                        <iframe style="display: none;" id="saveframe"></iframe>

                                        <ion-button onclick="downloadScore();" id="saverTscorer" type="button">Download
                                            Current
                                            Score</ion-button>

                                        <br><text>Load local score:</text> <input onchange="" type="file"
                                            accept=".TDRCC" id="fileInputT">
                                        <!-- position: fixed;
                  bottom: -10000px;
                  left: -100000px; -->
                                        <!-- <button id="importText" class="ui-mini no-mobile" onclick=" document.getElementById('fileInputT').click()">Load Score</button> -->

                                       

                                    </div>

                                </div>

                            </div>
                        </div>


                        <!-- </div> -->
                    </ion-content>
                    <!-- </ion-nav>
              </ion-tab> -->
                </ion-slide>
                <!--                     
              <ion-tab tab="tab-about" component="page-about">
                  <ion-nav></ion-nav>
              </ion-tab> -->

            </ion-slides>
        </div>

    </ion-content>

    <!-- <ion-tab-bar slot="bottom">
          <ion-tab-button tab="tab-schedule">
              <ion-icon name="calendar"></ion-icon>
              <ion-label>Scorer</ion-label>
              <ion-badge>6</ion-badge>
          </ion-tab-button>

          <ion-tab-button tab="tab-speaker">
              <ion-icon name="person-circle"></ion-icon>
              <ion-label>Timers</ion-label>
          </ion-tab-button>

          <ion-tab-button tab="tab-map">
              <ion-icon name="map"></ion-icon>
              <ion-label>Saves</ion-label>
          </ion-tab-button>

          <ion-tab-button >
            
              <i id="allpoints" style="font-weight: bold; font-size: 200%;color:green">
                  0</i>
                  
              <ion-label style="font-weight: bold; color:green">Points</ion-label>
          </ion-tab-button>
          <ion-tab-button >
              <ion-button id="resetTxt" value="Reset" class="ui-mini no-print"
              onclick="document.getElementById('missions').reset();loadsave(blanksave);check_missions();">
              Reset</ion-button>
          </ion-tab-button>
      </ion-tab-bar>
      
   -->
    <!-- </ion-tabs> -->

</div>
<!-- <img src="assets/images/ajax-loader.gif" id="loadingGif" style="background-color:white; width:50px; height: auto;position:fixed;left:50%;top:50%;margin-left: -25px;margin-top:-25px;z-index:10000000000000000000000000000000000000000;"> -->
<div class="loader" id="loadingGif"
    style="position:fixed;left:50%;top:50%;margin-left: -25px;margin-top:-25px;z-index:10000000000000000000000000000000000000000;">
</div>
<!-- 
<ion-content>


</ion-content> -->

<!-- </ons-page> -->


<div style="display:none" class="no-mobile">

    <a target="_blank" class="no-print"
        href="https://play.google.com/store/apps/details?id=com.ev3lessons.fllcityshaperscorer">
        <img id="googleplay" height="100" src="assets/google-play/en_get.svg"></a><br>

    <a target="_blank" class="no-print" href="https://apps.apple.com/app/fll-city-shaper-scorer/id1473760751?ls=1">
        <img id="appstore" height="68" style="padding: 15px" src="assets/app-store/en.svg"></a>


</div>
<link rel="stylesheet" href="assets/css/colors.css" />

<div id="styleBlank"></div>
